/node_modules
/vendor
.git
.idea
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/.vagrant
.DS_Store
tests
# Keep specific docker directories
docker/*
!docker/scripts
!docker/nginx
!docker/php
README.md
