.git
.github
node_modules
public/build
storage/app/public
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor
.env
*.DS_Store
docker-compose.dev.yml
docker-compose.prod.yml
README.md
rebuild.sh
artisan.sh
tests